@{ 
    ViewBag.Title = "Trang chu";
    ViewBag.SeoCharacter = " - ";
    ViewBag.CompanyName = "Nguyen Quy Blogger";
    ViewBag.Favicon = "~/Assets/favicon/qpCoders.png.ico";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title @ViewBag.SeoCharacter @ViewBag.CompanyName</title>

    @Html.Partial("_Head")

    @*favicon*@
    <link rel="icon" href="@ViewBag.Favicon" />
    <link rel="shortcut icon" href="@ViewBag.Favicon" />
    <link rel="apple-touch-icon" href="@ViewBag.Favicon" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
